<p style="color: green"><%= notice %></p>

<%= render @warehouse %>

<div>
  <%= link_to "Edit the basic info of the warehouse", edit_warehouse_path(@warehouse) %> |
  <%= link_to "Edit the storing spaces of the warehouse", warehouse_locations_url(@warehouse) %> |
  <%= link_to "Back to warehouses", warehouses_path %>

  <%= button_to "Destroy this warehouse", @warehouse, method: :delete %>
</div>
